{% extends 'base.html.twig' %}
{% form_theme form 'form_table_layout.html.twig' %}

{% block body %}
<body style="background-color: #C3D5FF ">
    <div class="p-3">
        {{ form(form)}}
        <br>
        <button class="btn btn-outline-secondary" type="submit"><a href="{{path('ajout_employe')}}">S'inscrire</a></br></button> <br>
    </div>
    
</body>
{% endblock %}